<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/styles.css">
</head>

<body>
    <h1 class="mb-1 ms-5 mt-1">Informatica.com - Serviços de Assistência Técnica e Vendas</h1>
    <p class="mb-1 ms-5 text-info">Todos os direitos reservados - Suporte por whatsapp: (21) 979748926</p>


   {{{body}}}

    
</body>


</html>