<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>recibo</title>
</head>
<body>
    <h1 class="">ESTÁ É A PAGINA DE RECIBOS</h1>
</body>
</html>