
{{!Alerta de erro na entrada do telefone}}
<div class="modal fade" id="erroModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content bg-danger text-white">
      <div class="modal-body text-center">
        <p id="mensagemErro"></p>
        <button type="button" class="btn btn-light mt-3" id="botaoOk">OK</button>
      </div>
    </div>
  </div>
</div>